.nav-container{
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0px;
    
    
}
.nav{
    display: flex;
    font-size: 1.25rem;
    
}
.logo{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}


.nav-links{
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 5px;
    height: 30px;

}
.nav-list{
    display: inline-flex;
    
}
.mint-nft{
    border: 1px #E94560 solid;
    border-radius: 10px;
    background-color: #E94560;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;

}
