body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: whitesmoke;
}
div {
  background-color: #16003B;
  
}
h1{
  font-family: 'Sacramento';
  font-size: 3.5em;
  color: #F73D93;
  margin: auto;
}
h2{
  font-family: 'Monserrat', serif;
  color: #F73D93;
  font-size: 1.5rem;
  font-weight: normal;
}
h3{
  font-family: 'Monserrat', serif;
}
.top-container{
  position: relative;
  padding-top: 10px;
} 

.middle-container p{
  font-size: 1.5rem;
}

.web{
  text-decoration: wavy;
}


.profile img{
  border-radius: 100px;
}
.full-stack{
  border-radius: 100px;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.security{
  border-radius: 100px;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2; 

}
.skill-row h3{
  color: #F73D93;
  font-size: 3rem;
}
.skill-row p{
  font-size: 1.5rem;
}
.code-skill-description{
  clear: left;
}
.security-description{
  clear: right;
}
.contact-me h3{
  color: #F73D93;
}