body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: whitesmoke;
}
div {
  background-color: #1A1A2E;
  
}
h1{
  font-family: 'Sacramento';
  font-size: 3.5em;
  color: #E94560;
  margin: auto;
}
h2{
  font-family: 'Monserrat', serif;
  color: #E94560;
  font-size: 1.5rem;
  font-weight: normal;
}
h3{
  font-family: 'Monserrat', serif;
}
.top-container{
  position: relative;
  padding-top: 10px;
} 

.middle-container p{
  font-size: .75rem;
}

.web{
  text-decoration: wavy;
}


.profile img{
  border-radius: 100px;
}
.full-stack{
  border-radius: 100px;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.security{
  border-radius: 100px;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2; 

}
.skills-header{
  font-size: 3rem;
}

.skill-row h3{
  color: #E94560;
  font-size: 1.5rem;
  margin: auto;
}
.skill-row p{
  font-size: 1rem;
}
.code-skill-description{
  clear: left;
}
.security-description{
  clear: right;
}
.contact-me h3{
  color: #E94560;
}

.contact-me-website{
  font-size: 1rem;
}

.bottom-container{
  display: inline-flex;
  text-align: center;

}

.footer-link{
  padding: 0px 5px ;
}

.logo-img{
  max-width: 150px;
  max-height: 150px;
}